/* 1.2. Clear Fix
========================================================================== */

.cf { 
	*zoom: 1; 

	&::before,
	&::after {
	  display: table;
	  content: " ";
	}

	&::after { clear: both; }
}