/* Reset Css StyleSheet
========================================================================== */

//@extend-elements
//original selectors
// For :- html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
%extend_1 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

//original selectors
//For :-sub, sup
%extend_2 {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

//Cursor Pointer
//For :- Input[type="submit"], input[type="button"]
%extend_3 { cursor: pointer; }
input[type='radio'] { vertical-align: text-bottom; }

body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, ins, kbd, q, s, samp, small, strike, tt, var, b, u, i, center, dl, dt, dd, ol, ul, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  @extend %extend_1;
}

html {
  @extend %extend_1;
  overflow-y: scroll;
}

li {
  @extend %extend_1;
  display: inline-block;
  list-style: none;
}

label {
  @extend %extend_1;
  cursor: pointer;
}

a {
  @extend %extend_1;
  display: inline-block;
  text-decoration: none;
}

em {
  @extend %extend_1;
  font-style: italic;
}

img {
  @extend %extend_1;
  width: 100%;
  border: 0;
  vertical-align: middle;
}

strong {
  @extend %extend_1;
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}
sub {
  @extend %extend_1;
  @extend %extend_2;
  bottom: -.25em;
}
sup {
  @extend %extend_1;
  @extend %extend_2;
  top: -.7em;
}

input[type='button'], 
input[type='submit'],
button {
  @extend %extend_3;
}