/* Font-Face Declaration
========================================================================== */

@font-face {
	font-family: "OpenSans-Reg";
	src : url('../vendor/webfonts/open_sans/OpenSans-Regular.ttf') format("truetype");
}

@font-face {
	font-family: "OpenSans-Semi";
	src : url('../vendor/webfonts/open_sans/OpenSans-SemiBold.ttf') format("truetype");
}